@prcomponents:registry=https://dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-palaceresorts-vue3-components/
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-palaceresorts-vue3-components/:always-auth=true
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-palaceresorts-vue3-components/:_authToken=${CODEARTIFACT_AUTH_TOKEN}