$color-foreground-default: var(--color-foreground-default);
$color-foreground-weak: var(--color-foreground-weak);
$color-border-default: var(--color-border-default);

$container-m-radius: var(--component-container-m-radius);

$color-ring: var(--color-background-accent-default);
$color-border-outlined: #71787D;
$color-border-strong: var(--color-border-strong);