$typography-label-font-family: var(--typography-label-font-family);
$typography-label-s-font-size: var(--typography-label-s-font-size);
$typography-label-s-line-height: var(--typography-label-s-line-height);

$typography-display-s-font-family: var(--typography-display-s-font-family);
$typography-display-s-font-size-default: var(--typography-display-s-font-size-default);
$typography-display-s-line-height-default: var(--typography-display-s-line-height-default);
$typography-display-s-letter-spacing: var(--typography-display-s-letter-spacing);

$typography-title-l-font-family: var(--typography-title-l-font-family);
$typography-title-l-font-size: var(--typography-title-l-font-size);
$typography-title-l-line-height: var(--typography-title-l-line-height);
$typography-title-l-letter-spacing: var(--typography-title-l-letter-spacing);

$typography-body-font-family: var(--typography-body-font-family);
$typography-body-m-font-size: var(--typography-body-m-font-size); 
$typography-body-m-line-height: var(--typography-body-m-line-height);
$typography-body-m-letter-spacing: var(--typography-body-m-letter-spacing);

$typography-body-s-font-size: var(--typography-body-s-font-size);
$typography-body-s-line-height: var(--typography-body-s-line-height);
$typography-body-s-letter-spacing: var(--typography-body-s-letter-spacing);

$typography-body-xs-font-size: var(--typography-body-xs-font-size);
$typography-body-xs-line-height: var(--typography-body-xs-line-height);
$typography-body-xs-letter-spacing: var(--typography-body-xs-letter-spacing);

$typography-title-xs-font-family: var(--typography-title-xs-font-family);
$typography-title-xs-font-size: var(--typography-title-xs-font-size);
$typography-title-xs-line-height: var(--typography-title-xs-line-height);
$typography-title-xs-letter-spacing: var(--typography-title-xs-letter-spacing);